<aside class="aside" style="border-color: #302f1c">
  <div class="aside-wrapper">
    <div class="logo-section">
      <a
        class="logo"
        rel="home"
        href="https://www.linkedin.com/in/leocastillof/"
        target="_blank"
      >
        <img src="assets/img/leocastillo.png" alt="Mi foto de perfil" />
        <span>Leo Castillo</span>
      </a>
      <span>Full Stack Dev</span>
    </div>

    <nav class="nav-links">
      <a routerLink="/home" routerLinkActive="active-link">Inicio</a>
      <a routerLink="/about" routerLinkActive="active-link">Sobre mí</a>
      <a routerLink="/skills" routerLinkActive="active-link">Experiencia</a>
      <a routerLink="/contact" routerLinkActive="active-link">Contacto</a>
    </nav>

    <!-- Social icons -->
    <ul class="social-icons">
      <li>
        <a href="https://www.linkedin.com/in/leocastillof/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/leocastillof" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/leocastillo.f/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</aside>
