<section class="section-about-2">
  <div class="text-zone">
    <h2 class="text-zone-h2 contacted">
      <span class="title_1">Contacto</span>
    </h2>

    <div class="desc-contacted">
      <br />
      <div class="text-zone3">
        <p class="aboutme">
          ¡Muchas gracias por echar un vistazo a mi Porfolio!
        </p>
        <p class="aboutme">
          ¡Si quieren saber más de mí acá les dejo mis redes sociales en dónde
          me mantengo más activo! :D
        </p>
      </div>
    </div>

    <ul>
      <li>
        <a href="https://www.facebook.com/leocastillof" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/leocastillo_f" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </li>
      <li>
        <a href="mailto:leocastillofavierx@gmail.com" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-google"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/leocastillof/" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/leocastillo.f/" target="_blank"
          ><span></span><span></span><span></span><span></span
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
    </ul>
  </div>
  <img src="assets/img/programmer.gif" alt="Programmer Gif" height="300" />
</section>
