<div class="about-gner">
  <section class="section-about">
    <div class="imageabout">
      <img src="assets/img/me-2.jpg" alt="Leo Castillo" />
    </div>
    <div class="text-zone3 textabout">
      <div id="header">
        <h2 class="typing">Acerca de mí&nbsp;<span>&nbsp;</span></h2>
      </div>
      <p class="aboutme">
        Soy Leonardo Castillo, Desarrollador Full Stack ubicado en Argentina.
        Tengo una gran pasión al lado Front-End Web y la interfaz de usuario, la
        creación de experiencias de usuario intuitivas y dinámicas. Me gusta
        aprender y no quedarme atrás con los conocimientos de la programación.
      </p>
      <p class="aboutme">
        Persona organizada, siempre me esfuerzo por encontrar la solución a los
        problemas. Actualmente soy un desarrollador autonomo (Freelance).
        Aficionado a la actividad física, en especial al gimnasio y a la
        natación. Me esfuerzo por mantenerme saludable para rendir más al
        momento de trabajar y estudiar.
        <br />
        <br />
      </p>
    </div>
  </section>

  <section class="section-about">
    <div class="text-zone3 textabout2">
      <div id="header">
        <h2 class="typing">Mis inicios&nbsp;<span>&nbsp;</span></h2>
      </div>
      <p class="aboutme">
        Desde la infancia siempre tuve mucho interés y me encantaba usar la
        computadora. Cuando navegaba por internet me cuestionaba como era que
        uno podía subir imágenes o videos, a través de un click.
      </p>
      <p class="aboutme">
        Cuando cumplí trece años siempre quise crear una aplicación para poder
        ver capítulos de series que miraba en ese momento. Pero al ver lo
        extenso y complejo que era la programación dejé todo de lado.
        <br />
        <br />
        Hasta que a los dieciocho años empezó ¿Por qué no intentarlo? Después no
        hubo límites. Durante estos cinco años he adquirido grandes
        conocimientos acerca de la programación, desde el lado Front-End como
        Back-End. Siento que gracias a esto evolucioné como persona y pude
        conocerme mucho más, auto desafiarme a querer ver en pantalla lo que yo
        quisiera a través de la programación...
      </p>
      <p class="aboutme">
        Recientemente finalicé un trabajo, creé una plataforma E-Commerce para
        un emprendimiento llamado Rocco Accesorios, desarrollé individualmente
        con HTML, CSS, PHP, JavaScript, Ajax, SQL. Junto con la Integración de
        Checkout Pro (MercadoPago).
      </p>
    </div>
    <div class="imageabout2">
      <img src="assets/img/mrobot.gif" alt="Leo Castillo" />
    </div>
  </section>
</div>
