<!-- Sección uno -->
<section id="section-home" class="section-home">
  <div class="text-zone">
    <h1>
      Hola, <br />
      Soy <span class="title_1">Leonardo Castillo</span>, <br />
      <span class="animation_01">Full Stack Dev</span>
    </h1>
    <p class="gray-text efectop">
      Full stack | Freelancer | Estudiante de Ingeniería en Informática | 22
      años.
    </p>
    <br />
  </div>
</section>

<!-- Sección dos -->
<section id="section-work">
  <div id="header">
    <h2 class="h2_read animation_02">Mis proyectos & trabajos</h2>
  </div>
  <div class="text-zone-2">
    <div>
      <p class="parraf_section_two">
        Dejo alguno de mis proyectos o trabajos hecho con cariño 💛
        <br />
        Si te interesa ver más, dejo mi
        <a target="_blank" href="https://www.instagram.com/leocastillo.f/"
          >Instagram</a
        >
      </p>
    </div>
    <!-- Button LinkedIn-->
    <a
      href="https://www.linkedin.com/in/leocastillof/"
      target="_blank"
      class="contact-button"
    >
      <div>
        <span class="bg"></span>
        <span class="base"></span>
        <span class="text">Mi LinkedIn</span>
      </div>
    </a>
  </div>
  <div class="fake-big-2">Proyectos</div>
</section>

<div class="container">
  <div class="box">
    <a href="https://www.therayapp.com/" target="_blank">
      <div class="imgBx">
        <img src="assets/img/RayApp.jpg" />
      </div>
      <div class="content">
        <div>
          <h2>RayApp</h2>
          <p>
            Proyecto Freelance, Red Social hecho con Kotlin, CSS, HTML, SQL, PHP
            & JavaScript
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="box">
    <a href="https://roccoaccesorios.com/" target="_blank">
      <div class="imgBx">
        <img src="assets/img/rocco.jpeg" />
      </div>
      <div class="content">
        <div>
          <h2>Rocco Accesorios</h2>
          <p>
            Plataforma E-Commerce. Armazones, Lentes de Sol, entre otros.
            Desarrollado con CSS, JavaScript, SQL, PHP, HTML.
            <br /><br />
            Integración de Checkout Pro de MercadoPago
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="box">
    <a href="#" target="_blank">
      <div class="imgBx">
        <img src="assets/img/me.jpg" />
      </div>
      <div class="content">
        <div>
          <h2>Porfolio</h2>
          <p>
            Desarrollado con Framework Angular. Utilizando CSS, SQL, TypeScript,
            Java con Spring Boot.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>

<section class="section-about">
  <div class="text-zone3">
    <div id="header">
      <h2 class="typing">Acerca de mí&nbsp;<span>&nbsp;</span></h2>
    </div>
    <p class="aboutme">
      Soy Leonardo Castillo, Desarrollador Full Stack ubicado en Argentina.
      Tengo una gran pasión al lado Front-End Web y la interfaz de usuario, la
      creación de experiencias de usuario intuitivas y dinámicas. Me gusta
      aprender y no quedarme atrás con los conocimientos de la programación.
    </p>
    <p class="aboutme">
      Persona organizada, siempre me esfuerzo por encontrar la solución a los
      problemas. Actualmente soy un desarrollador autonomo (Freelance).
      Aficionado a la actividad física, en especial al gimnasio y a la natación.
      Me esfuerzo por mantenerme saludable para rendir más al momento de
      trabajar y estudiar.
      <br />
      <a routerLink="/about" routerLinkActive="active-link">Leer más</a>
    </p>
  </div>

  <div class="skills-charts">
    <div id="myCanvasContainer">
      <canvas width="500" height="500" id="myCanvas">
        <ul id="tags" style="display: none">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">Angular</a></li>
          <li><a href="#">SQL</a></li>
          <li><a href="#">Kotlin</a></li>
          <li><a href="#">JSON</a></li>
          <li><a href="#">Bootstrap</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">Ajax</a></li>
          <li><a href="#">JQuery</a></li>
          <li><a href="#">TypeScript</a></li>
          <li><a href="#">Node JS</a></li>
          <li><a href="#">Git</a></li>
          <li><a href="#">Github</a></li>
          <li><a href="#">REST</a></li>
          <li><a href="#">Apache2</a></li>
          <li><a href="#">SSL</a></li>
          <li><a href="#">Protocolos</a></li>
          <li><a href="#">Java</a></li>
        </ul>
      </canvas>
    </div>
  </div>
</section>
