@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
    }
body{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(130deg,#0f0f0f, #7a7a7a, #00849b);
    background-size: 400% 400%;
    animation: gradientShift 5s ease infinite;
    overflow-x: hidden;
}
header{
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

@-webkit-keyframes gradientShift {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}
@keyframes gradientShift {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

.trail 
{
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: #fdbf2d;
}

.title_1 {
    animation: Color 4s linear infinite;
    -webkit-animation: Color 4s ease-in-out infinite;
  }
  @keyframes Color {
    0% {
      color: #a0d468;
    }

    20% {
      color: #fdbf2d;
    }

    40% {
      color: #ffce54;
    }

    60% {
      color: #fc6e51;
    }

    80% {
      color: #ed5565;
    }

    100% {
      color: #ac92ec;
    }
  }

  @-moz-keyframes Color {
    0% {
      color: #a0d468;
    }

    20% {
      color: #fdbf2d;
    }

    40% {
      color: #ffce54;
    }

    60% {
      color: #fc6e51;
    }

    80% {
      color: #ed5565;
    }

    100% {
      color: #ac92ec;
    }
  }

  @-webkit-keyframes Color {
    0% {
      color: #a0d468;
    }

    20% {
      color: #fdbf2d;
    }

    40% {
      color: #ffce54;
    }

    60% {
      color: #fc6e51;
    }

    80% {
      color: #ed5565;
    }

    100% {
      color: #ac92ec;
    }
  }


  .page-skills {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.page-skills .text-zone {
    width: 50%;
    padding-right: 5rem
}

.page-skills .text-zone+div {
    padding-right: 5rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.page-skills .charts {
    opacity: 0
}


.chart {
    margin-bottom: 2rem
}

.chart span {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px;
    display: block
}

.chart footer {
    background-color: #373737;
    height: 2px
}

.chart footer div {
    width: 0;
    height: 100%;
    animation: dropdown 4s ease-in-out;
}

@keyframes dropdown {
    0% {
      opacity: 0;
    }
    
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
    }
  }
.work-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 5rem
}

.work-box {
    width: 48%;
    background: #2a2a2a;
    padding: 3rem
}

.work-box header {
    font-family: 'La Belle Aurore', cursive;
    font-size: 2.6rem;
    line-height: 2rem;
    margin-bottom: 2rem
}

.work-box section {
    font-size: 1.6rem;
    color: #ababab;
    margin-bottom: 1rem
}

.work-box section time {
    display: block;
    font-size: 1.2rem
}

.work-box footer {
    font-size: 1.6rem;
    color: #ababab;
    line-height: 1.8rem
}

#sound{
    padding: 7px;
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
}
.sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: #a51515;
}
.on-off{
    cursor: pointer;
    margin-left: 5px;
}
#off{
    color: #a51515;
}
#on{
    display: none;
    color: #fdbf2d;
}
.btns-container .fas{
    font-size: 2rem;
    padding: 10px;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
}
.btns-container .fas:nth-child(2){
    display: none;
}

/* aside section starts here */
.aside{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #191919;
    z-index: 1;
}
.show-nav{
    height: 100%;
    overflow: visible;
}
.aside-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.logo-section{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0c0c0c;
    color: #fff;
}
.logo{
    display: grid;
    place-items: center;
    text-decoration: none;
}
.logo img{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 2px solid #fdbf2d;
    position: relative;
    top: 0;
    transition: 250ms top ease-in-out;
}
.logo img:hover{
    top: -1rem;
	z-index: 99;
}
.logo span{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    color: #fdbf2d;
    padding-top: 5%;
}
.logo-section > span{
    margin-top: 5%;
    font-size: 12px;
    font-family: 'Open Sans';
}

/* nav section starts here */

.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #c7c7c7;
}
.nav-links a:hover{
    color: #fdbf2d ;
}
.nav-links a::before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #2d2d2e;
}

/* social icons */

.social-icons{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}
.social-icons li{
    width: 30px;
    font-size: 1rem;
}
.social-icons li a{
    text-decoration: none;
    color: #c7c7c7;
}
.social-icons li a:hover{
    color: #fdbf2d;
}

/* nav bar ends here */

#section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.text-zone h1{
    font-size: 3rem;
    line-height: 45px;
    letter-spacing: -3px;
    position: relative;
}
.text-zone h1::before{
    content: '<h1>⚡';
    position: absolute;
    top: -80px;
    left: -10px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone h1::after{
    content: '⚡</h1>';
    position: absolute;
    bottom: -10px;
    right: -70px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone img{
    width: 35px;
    height: 50px;
}
.text-zone .gray-text{
    margin-top: 30px;
    color: #c7c7c7;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
}

.animation_01 
{
    box-shadow: inset 0 0 0 0 #fdbf2d;
    color: #fdbf2d;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}
.animation_01:hover 
{
    box-shadow: inset 100% 0 0 0 #fdbf2d;
    color: white;
}

.animation_02
{
    box-shadow: inset 0 0 0 0 #fdbf2d;
    color: #fdbf2d;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}
.animation_02:hover 
{
    box-shadow: inset 760px 0 0 0 #fdbf2d;
    color: white;
}

/* H2 _read */
.h2_read
{
    color: #fdbf2d;
}
.parraf_section_two
{
    font-family: 'Open Sans';
}

/* Link */
a
{
    color: #fdbf2d;
}

/* Font for About Me */
.aboutme
{
    font-family: 'Open Sans';
}
/* Font for About Me */

/* Effect Typing */
.typing {
	position: relative;
	color: #ffe8b1;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
}

.typing span {
	position: absolute;
	top: 0;
	right: 0;
	background: #474747;
	width: 100%;
	border-left: 10px solid transparent;
	animation: typing 3s steps(16) forwards, cursor 1s infinite;
}

@keyframes typing {
	from {
		width: 100%;
	}

	to {
		width: 0;
	}
}

@keyframes cursor {
	50% {
		border-color: #ffe8b1;
	}
}
/* Effect Typing */


/* Effect image */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .box {
    position: relative;
    width: 275px;
    height: 275px;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 40px;
    margin-top: 45px;
  }
  .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
  }
  .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(180deg,#fdbf2d,#363636);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container .box:hover .imgBx:before {
    opacity: 1;
  }
  .container .box .imgBx img {
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container .box:hover .content h2 {
    transform: translateY(0px);
  }
  .container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .container .box:hover .content p {
    transform: translateY(0px);
  }
/* Effect image */

/* contact me button */
.contact-button{
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #fdbf2d;
    margin-top: 50px;
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:  all .3s ease-in-out;
}
.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #fdbf2d;
    transform: skewX(-19deg);
    
}
.contact-button:hover span.bg{
    width: 110%;
}
.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #fdbf2d;
    box-sizing: border-box;
    
}
.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.contact-button:hover span.text{
    color: #1d1d1d;
}
.scroll-down{
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
}
.scroll-down--left{
    left: -30px;
    right: auto;
}
.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}
@keyframes scroll{
    0%{
        transform: translateX(-7px);
    }
    100%{
        transform: translateX(7px);
    }
}
.scroll-down .fas{
    transform: rotate(270deg);
    margin-left: 10px;
}

/* part 2 starts here */ /* part 2 starts here *//* part 2 starts here */

#section-work{
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
}
#header{
    font-size: 2rem;
    color: #fdbf2d;
    margin-bottom: 30px;
}
.text-zone-2 p{
    line-height: 1.5;
}
.fake-big-2{
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    color: #2d2d2e;
    left: 10px;
    bottom: -70px;
    letter-spacing: -10px;
    z-index: -999;
}
.fake-magicwall{
    background-color: rgba(255, 255, 255, 0.1);
}
.fake-magicwall ul{
    list-style: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: wrap;
}
.fake-magicwall ul li{
    width: 161px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: list-item;
}
.fake-magicwall .magic-wall_item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.fake-magicwall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item{
    transform: scale(1.14);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle.png) no-repeat center;
    opacity: 0;
    transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.2);
}
.fake-magicwall ul li:hover a.colorbox{
    transform: scale(0.6);
    opacity: 1;
}
/* magical wall ends here */

/* part 3 section starts here */

.section-about{
    padding-left: 1.5rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.section-about-2{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.text-zone3 p{
    padding-left: 10%;
    width: 80%;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5rem;
}
.tech{
    text-decoration: none;
    color: #08fdd8;
}
/* blog section starts here */
.section-blog{
    width: 85%;
    margin: 100px auto 0;
    position: relative;
}
.section-blog .fake-big-2{
    font-size: 12rem;
    font-weight: bolder;
    position: absolute;
    top: -180px;
    left: 0;
    
}

.blog-articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.post-articles{
    width: 100%;
    height: 220px;
    background-color: #1d1d1d;
    padding: 25px;
    color: #909096;
    box-shadow: 0 0  5px 5px #191919;
    margin-bottom: 30px;
}
.post-date{
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.blog-post-title h5 a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 15px 0;
}
.blog-post-title h5 a:hover{
    color: #fdbf2d;
}




/* media section for bigger screens */

@media screen and (min-width: 1200px) {
    header{
        justify-content: flex-end;
        align-items: flex-end;
    }
    .btns-container{
        display: none;
    }

    .aside{
        width: 10%;
        height: 100%;
    }
    .aside-wrapper{
        height: 80%;
    }
    .logo-section{
        min-height: 25vh;
    }
    .logo img{
        width: 50%;
        height: auto;
    }
    .social-icons{
        margin-bottom: 0;
        text-align: center;
    }
    .social-icons li{
       
        font-size: 1rem;
    }

    /* home section */
    #section-home{
        padding-left: 17rem;
    }
    .text-zone h1{
        font-size: 5.3rem;
        line-height: 85px;
        letter-spacing: -6px;
    }
    .text-zone img{
        width: 50px;
        height: 72px;
    }
    .text-zone .gray-text{
        font-size: 1rem;
        font-family: 'Open Sans';
    }
    .scroll-down{
        right: -30px;
        bottom: 3.3rem;
    }
    .scroll-down--left{
        left: 110px;
        right: auto;
    }
    /* part 2 media query bigger screens starts here */
    #section-work{
        width: 85%;
        margin: 0 30px 0 auto;
        display: flex;
        flex-direction: column;
    }
    .text-zone-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #header{
        font-size: 2.5rem;
    }
    .text-zone-2 p{
        width: 700px;
        font-size: 14px;
        line-height: 1.5rem;
    }
    .fake-big-2{
        font-size: 25rem;
        font-weight: 700;
        left: 560px;
        top: 0;
    }
    .fake-magicwall{
        padding-left: 8.5rem;
    }
    .fake-magicwall ul li{
        width: 242px;
        height: 236px;
    }

    /* media query for about section */
    .section-about{
        flex-direction: row;
        padding-left: 17rem;
    }
    .section-about-2{
        flex-direction: row;
        padding-left: 17rem;
    }
    .text-zone3 #header{
        width: 500px;
        font-size: 3rem;
    }
    .text-zone3 p{
        width: 400px;
    }
    .skills-charts{
        margin-right: 20%;
    }

    /* media query for blog section */
    .section-blog{
        width: 90%;
        margin: 100px auto 0;
    }
    .section-blog .fake-big-2{
        font-size: 27rem;
        top: -270px;
    }
    .blog-articles{
        width: 90%;
        margin: 0 0 0 auto;
        flex-flow: row wrap;
    }
    .post-articles{
        width: 340px;
        height: 270px;
    }
    .blog-post-title h5 a{
        font-size: 1.7rem;
        line-height: 2rem;
    }

    ::-webkit-scrollbar 
        {
            width: 5px;
        }
        ::-webkit-scrollbar-track 
        {
            background-color: #949494;
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb
        {
            background-color: #fdbf2d;
            border-radius: 10px;
        }
}