<section class="section-about-2">
  <div class="text-zone">
    <h2 class="text-zone-h2" style="padding-left: 10%; width: 80%">
      Mi habilidades <br />
      y <span class="title_1">Experiencia</span>
    </h2>

    <div>
      <br />
      <div class="text-zone3">
        <p class="aboutme">
          Desde que empecé mi vida como programador freelance en estos 4 años de
          experiencia. He adquirido conocimientos que no esperaba aprender. Con
          el tiempo el logrado una experiencia laboral haciendo plataformas
          E-Commerce para un emprendimiento de venta de Accesorios en mi ciudad
          (Rocco Accesorios). También creé mi proyecto freelance de Red Social
          (RayApp). He podido conocer gente que me ayudó a mejorar como persona
          y como desarrollador.
        </p>
        <p class="aboutme">
          Creo sitios web fáciles de usar, construido para que el usuario tenga
          una gran experiencia. Siempre me enfoco en hacer todo lo mejor
          posible, siguiendo las buenas prácticas del programador. Y al mismo
          tiempo hago que las cosas que parecen complicadas puedan ser
          sencillas. Mi área principal e inicial fue el desarrollo de front-end,
          HTML, CSS, JS, Angular. Con el tiempo he adquirido conocimientos del
          lado back-end, SQL, PHP, Java, Spring Boot y Kotlin.
        </p>
        <p class="aboutme">
          Como objetivo me gustaría en algún tiempo ser dedicado a Mobile.
          Desarrollo de aplicaciones móviles.
          <br />
        </p>
        <p class="aboutme">
          Puede visitar mi perfil de
          <a href="https://www.linkedin.com/in/leocastillof/" target="_blank"
            >LinkedIn</a
          >
          o
          <a href="https://github.com/leocastillof" target="_blank">Github</a>
          para obtener más detalles o simplemente
          <a href="mailto:leocastillofavierx@gmail.com" target="_blank"
            >contactarme</a
          >.
          <br />
        </p>
      </div>
    </div>
  </div>

  <div class="skills-charts">
    <div id="myCanvasContainer">
      <canvas width="500" height="500" id="myCanvas">
        <ul id="tags" style="display: none">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">Angular</a></li>
          <li><a href="#">SQL</a></li>
          <li><a href="#">Kotlin</a></li>
          <li><a href="#">JSON</a></li>
          <li><a href="#">Bootstrap</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">Ajax</a></li>
          <li><a href="#">JQuery</a></li>
          <li><a href="#">TypeScript</a></li>
          <li><a href="#">Node JS</a></li>
          <li><a href="#">Git</a></li>
          <li><a href="#">Github</a></li>
          <li><a href="#">REST</a></li>
          <li><a href="#">Apache2</a></li>
          <li><a href="#">SSL</a></li>
          <li><a href="#">Protocolos</a></li>
          <li><a href="#">Java</a></li>
        </ul>
      </canvas>
    </div>
  </div>
</section>

<section class="section-about-2">
  <div class="skills-details" style="padding: 10%">
    <div class="chart">
      <span>HTML</span>
      <footer>
        <div data-width="95%" style="background: #af495f; width: 95%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>CSS</span>
      <footer>
        <div data-width="90%" style="background: #d5816c; width: 90%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>SQL</span>
      <footer>
        <div data-width="90%" style="background: #d5b96c; width: 90%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>PHP</span>
      <footer>
        <div data-width="90%" style="background: #75d56c; width: 90%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>JavaScript</span>
      <footer>
        <div data-width="90%" style="background: #6c9dd5; width: 90%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>Ajax</span>
      <footer>
        <div data-width="90%" style="background: #996cd5; width: 90%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>JQuery</span>
      <footer>
        <div data-width="85%" style="background: #d56cd0; width: 85%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>REST</span>
      <footer>
        <div data-width="80%" style="background: #d56c9d; width: 80%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>Kotlin</span>
      <footer>
        <div data-width="70%" style="background: #d56c6c; width: 70%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>Java</span>
      <footer>
        <div data-width="30%" style="background: #a30606; width: 30%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>Inglés</span>
      <footer>
        <div data-width="30%" style="background: #44830a; width: 30%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>Angular</span>
      <footer>
        <div data-width="20%" style="background: #cc003d; width: 20%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>Visual Code Studio</span>
      <footer>
        <div data-width="85%" style="background: #0a3483; width: 85%"></div>
      </footer>
    </div>

    <div class="chart">
      <span>Android Studio</span>
      <footer>
        <div data-width="85%" style="background: #ffffff; width: 85%"></div>
      </footer>
    </div>

    <div class="container">
      <div class="box">
        <a href="https://www.therayapp.com/" target="_blank">
          <div class="imgBx">
            <img src="assets/img/RayApp.jpg" />
          </div>
          <div class="content">
            <div>
              <h2>RayApp</h2>
              <p>
                Proyecto Freelance, Red Social hecho con Kotlin, CSS, HTML, SQL,
                PHP & JavaScript
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="box">
        <a href="https://www.therayapp.com/rocco/" target="_blank">
          <div class="imgBx">
            <img src="assets/img/rocco.jpeg" />
          </div>
          <div class="content">
            <div>
              <h2>Rocco Accesorios</h2>
              <p>
                Plataforma E-Commerce. Armazones, Lentes de Sol, entre otros.
                Desarrollado con CSS, JavaScript, SQL, PHP, HTML.
                <br /><br />
                Integración de Checkout Pro de MercadoPago
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="box">
        <a href="#" target="_blank">
          <div class="imgBx">
            <img src="assets/img/me.jpg" />
          </div>
          <div class="content">
            <div>
              <h2>Porfolio</h2>
              <p>
                Desarrollado con Framework Angular. Utilizando CSS, SQL,
                TypeScript, Java con Spring Boot.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br /><br />
</section>
